    <!--Header-->
    <header class="vlt-header vlt-header--default">
      <div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky">
        <div class="vlt-navbar-background"></div>
        <div class="vlt-navbar-inner">
          <div class="vlt-navbar-inner--left">
            <!--Logo--><a class="vlt-navbar-logo" href="index.html"><img src="assets/img/logo web.png" alt="Gusti"></a>
          </div>
          <div class="vlt-navbar-inner--center">
            <div class="container">
              <nav class="vlt-default-menu__navigation">
                <!--Navigation-->
                <ul class="sf-menu">
                  <li data-menuanchor="Home"><a href="#Home">Home</a></li>
                  <li data-menuanchor="About"><a href="#About">About</a></li>
                  <li data-menuanchor="Skills"><a href="#Skills">Skills</a></li>
                  <li data-menuanchor="Projects"><a href="#Projects">Projects</a></li>
                  <li data-menuanchor="Experience"><a href="#Experience">Experience</a></li>
                  <li data-menuanchor="Contact"><a href="#Contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="vlt-navbar-inner--right">
            <div class="d-flex align-items-center">
              <!--Contacts-->
              <div class="vlt-navbar-contacts"><a href="mailto:gustipermanaputra0@gmail.com">gustipermanaputra0@gmail.com</a></div>
              <!--Menu Burger--><a class="vlt-menu-burger js-offcanvas-menu-open" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--Offcanvas Menu-->
    <div class="vlt-offcanvas-menu">
      <div class="vlt-offcanvas-menu__header">
        <!--Locales-->
        <div class="vlt-language-switcher"><a class="is-active" href="#">Eng</a><a href="#">Fra</a><a href="#">Ger</a></div>
        <!--Menu Burger--><a class="vlt-menu-burger vlt-menu-burger--opened js-offcanvas-menu-close" href="#"><svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><defs/><path d="M18 6L6 18M6 6l12 12"/></svg></a>
      </div>
      <nav class="vlt-offcanvas-menu__navigation">
        <!--Navigation-->
        <ul class="sf-menu">
          <li data-menuanchor="Home"><a href="#Home">Home</a></li>
          <li data-menuanchor="About"><a href="#About">About</a></li>
          <li data-menuanchor="Skills"><a href="#Skills">Skills</a></li>
          <li data-menuanchor="Projects"><a href="#Projects">Projects</a></li>
          <li data-menuanchor="Experience"><a href="#Experience">Experience</a></li>
          <li data-menuanchor="Contact"><a href="#Contact">Contact</a></li>
        </ul>
      </nav>
      <div class="vlt-offcanvas-menu__footer">
        <!--Socials-->
        <div class="vlt-offcanvas-menu__socials">
          <a class="vlt-social-icon vlt-social-icon--style-1" href="https://github.com/gustipermanap" target="_blank" rel="noopener"><i class="lnir-github"></i></a>
          <a class="vlt-social-icon vlt-social-icon--style-1" href="https://linkedin.com/in/gustipermanap" target="_blank" rel="noopener"><i class="lnir-linkedin-original"></i></a>
          <a class="vlt-social-icon vlt-social-icon--style-1" href="https://youtube.com/@gustipermanap" target="_blank" rel="noopener"><i class="lnir-youtube"></i></a>
          <a class="vlt-social-icon vlt-social-icon--style-1" href="https://tiktok.com/@gustipermanap" target="_blank" rel="noopener"><img src="assets/icon/tiktok.png" alt="TikTok"></a>
        </div>
        <!--Copyright-->
        <div class="vlt-offcanvas-menu__copyright">
          <p>© 2020 Copyright.<br>All rights reserved.</p>
        </div>
      </div>
    </div>
    <!--Site Overlay-->
    <div class="vlt-site-overlay"></div>
    <!--Fixed socials-->
    <div class="vlt-fixed-socials">
      <a class="vlt-social-icon vlt-social-icon--style-1" href="https://github.com/gustipermanap" target="_blank" rel="noopener"><i class="lnir-github"></i></a>
      <a class="vlt-social-icon vlt-social-icon--style-1" href="https://linkedin.com/in/gustipermanap" target="_blank" rel="noopener"><i class="lnir-linkedin-original"></i></a>
      <a class="vlt-social-icon vlt-social-icon--style-1" href="https://youtube.com/@gustipermanap" target="_blank" rel="noopener"><i class="lnir-youtube"></i></a>
      <a class="vlt-social-icon vlt-social-icon--style-1" href="https://tiktok.com/@gustipermanap" target="_blank" rel="noopener"><img src="assets/icon/tiktok.png" alt="TikTok"></a>
    </div>
